*, *::before, *::after{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    background-color: hsl(233, 47%,7% );
    color: hsla(0, 0%, 100%, 0.75);
    margin: 0;
    padding: 0;
}

p{
    line-height: 1.5;
    margin-bottom: 5rem;
}

h1{
    font-size: 5rem;
}

h2{
    font-size: 4rem;
}

h1, h2{
    color: hsl(0, 0%, 100%);
}

.insight{
    color: hsl(277, 64%, 61%);
}


@media screen and (min-width: 768px) {
    body{
        font-size: 2rem;
    }

    h1{
        font-size: 4.5rem;
    }

    h2{
        font-size: 3rem;
    }
}

.container{
    width: 80%;
    border-radius: 10px;
    overflow: hidden;
    margin: 10%;
}

.footer_content{
    display: grid;
    grid-template-columns: 1, 1fr;
    gap: 1.5rem;
}

.content{
    padding: 4rem 3rem;
    background-color: hsl(244, 38%, 16%);
    margin: 0;
}

.image > img{
    width: 100%;
    height: 100%;
    opacity: 0.4;
    z-index: 0;
}

.image{
    background: hsl(277, 64%, 61%);
}

.grid{
    display: grid;
    grid-template-columns: 1, 1fr;
}

.ending{
    text-align: center;
}

@media screen and (min-width:768px) {
    .grid_1x2{
        grid-template-columns: repeat(2,1fr);
    }

    .footer_content_1x2{
        grid-template-columns: repeat(3, 1fr);
    }
}
